.signUpForm {
    padding-top: 5rem;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(255, 255, 255, .7);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.signUpForm > p {
    margin-top: -10rem;
}

.signUpForm > p > a {
    font-weight: 700;
    color: #1877F2;
    margin-left: .5rem;
}

form {
    opacity: 1;
    width: 432px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 1rem;
}

form > p {
    font-weight: 400;
    margin-top: -.2rem;
}

form > hr {
    margin-top: 1rem;
    text-align: center;
}

.form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__header > h1 {
    margin-bottom: .5rem;
}

.form__header > div {
    cursor: pointer;
    padding: .4rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.form__header > div > div {
    height: 3px;
    width: 1.5rem;
    background-color: #606771;
    position: relative;
    transform: rotate(45deg);
}

.form__header > div > div::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 1.5rem;
    background-color: #606771;
    transform: rotate(90deg);
}

.signUpFormGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.signUpFormFirstName {
    width: 50%;
    margin-right: .5rem;
    padding: .65rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    font-size: 15px;
}

.signUpFormSurname {
    width: 50%;
    padding: .65rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    font-size: 15px;
}

.signUpFormFirstName:focus,
.signUpFormSurname:focus,
.signUpFormEmail:focus, 
.signUpFormPassword:focus {
    border: 1px solid #1877F2;
}

.signUpFormEmail,
.signUpFormPassword {
    width: 100%;
    padding: .65rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    font-size: 15px;
}

.signUpFormGroup p {
    font-size: 11px;
    margin: .5rem 0;
    font-weight: 400;
}

.signUpFormGroup > button {
   background: #00a400;
   display: block;
    margin: .5rem auto;
    border: none;
    padding: .65rem 4.5rem;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: all 200ms ease-in-out;
}

.signUpFormGroup > button:hover {
    opacity: .9;
}